@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

:root {
    --primary: #af7eeb;
}

body {
    margin: 0;
    font-size: 15px;
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #F9F9F9;
}