header.todos-header {
    background: var(--primary);
    text-align: center;
    color: #FFF;
    line-height: 50px;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: 500;
}